<b-row class="p-4">
  <b-col>
    <div class="card">
      <div class="card-close">
        <div class="dropdown">
          <button type="button" id="closeCard1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-ellipsis-v"></i></button>
          <div aria-labelledby="closeCard1" class="dropdown-menu dropdown-menu-right has-shadow">
            <a href="#" class="dropdown-item remove">
              <i class="fa fa-times"></i> Close
            </a>
            <a href="#" class="dropdown-item edit">
              <i class="fa fa-gear"></i> Edit
            </a>
          </div>
        </div>
      </div>
      <div class="card-header d-flex align-items-center">
        <h3 class="h4">Mantenimiento Posiciones de Trabajo</h3>
      </div>
      <div class="card-body">
        <form>
          <b-row>
            <b-col cols="6">
              <div class="form-group">
                <label class="form-control-label">Nombre </label>
                <input type="text" class="form-control">
              </div>

            </b-col>
            <b-col cols="6">
              <div class="form-group">
                <label class="form-control-label">Riesgo </label>
                <select class="form-control">
                  <option>Bajo</option>
                  <option>Medio</option>
                  <option>Alto</option>
                </select>
              </div>

            </b-col>
            <b-col cols="6">
              <div class="form-group">
                <label class="form-control-label">Rango mínimo salario </label>
                <input type="number" class="form-control">
              </div>

            </b-col>
            <b-col cols="6">
              <div class="form-group">
                <label class="form-control-label">Rango máximo salario </label>
                <input type="number" class="form-control">
              </div>

            </b-col>
            <b-col cols="12">
              <div class="form-group">
                <b-button variant="primary"> Guardar </b-button>
              </div>
            </b-col>
          </b-row>

        </form>
      </div>
    </div>


  </b-col>
  <b-col cols="12">
    <div class="card">
      <div class="card-close">
        <div class="dropdown">
          <button type="button" id="closeCard2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-ellipsis-v"></i></button>
          <div aria-labelledby="closeCard2" class="dropdown-menu dropdown-menu-right has-shadow"><a href="#" class="dropdown-item remove"> <i class="fa fa-times"></i>Close</a><a href="#" class="dropdown-item edit"> <i class="fa fa-gear"></i>Edit</a></div>
        </div>
      </div>
      <div class="card-header d-flex align-items-center">
        <h3 class="h4">Posiciones de Trabajo Instituciones</h3>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <b-table empty-text="No hay registros" empty-filtered-text="No hay registros coincidientes" show-empty striped hover :items="getTableInformation" :fields="fields">
            <template slot="acciones" slot-scope="cell">
              <!-- We use click.stop here to prevent a 'row-clicked' event from also happening -->
              <b-btn variant="info" size="sm" @click.stop="editar(cell.item,cell.index,$event.target)">Editar</b-btn>
              <b-btn variant="danger" size="sm" @click.stop="borrar(cell.item,cell.index,$event.target)">Borrar</b-btn>
            </template>

          </b-table>
        </div>
      </div>
    </div>
  </b-col>
</b-row>
